
<app-menu></app-menu>

<router-outlet></router-outlet>


<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ numero | number }}</h1>
  <button pButton pRipple  class="p-button-raised p-button-help" (click)="mostrarValores()" label="Cambiar valores"></button>
  <p-button label="Click" icon="pi pi-check" iconPos="right" styleClass="p-button-warning"></p-button>
  <button pButton pRipple type="button" label="Secondary" class="p-button-raised p-button-secondary"></button>
</div>

<p-card [header]="nombre | titlecase">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea dolorem odio officiis at sequi omnis sit tempora aliquid? Dolor, ad. Repudiandae, soluta. Doloremque vero, rem at sit praesentium hic dolor.
</p-card> -->
